{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>Словарь терминов грузоперевозок</h1>
    <div class="dictionary-list">
        <dl>
            <dt>CMR</dt>
            <dd>Международная товарно-транспортная накладная, основной документ при международных перевозках.</dd>
            
            <dt>ADR</dt>
            <dd>Европейское соглашение о международной дорожной перевозке опасных грузов.</dd>
            
            <dt>Грузоподъемность</dt>
            <dd>Максимальная масса груза, которую может перевезти транспортное средство.</dd>
            
            <dt>Консолидация груза</dt>
            <dd>Объединение нескольких мелких партий грузов в одну крупную для оптимизации перевозки.</dd>
            
            <dt>Экспедирование</dt>
            <dd>Деятельность по организации перевозок груза, включая оформление документов и сопровождение.</dd>
        </dl>
    </div>
</div>
{% endblock %} 